* {
    color: rgb(255, 255, 255);
    margin: 0px;
}

body {
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    opacity: 0;
    
    /* preload background image */
    background: url('island.jpg') no-repeat center center fixed;
    background-size: cover;
}

.background-beach {
    background: url('beach.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: 200ms ease-in-out;
    opacity: 100;
}

.background-desert {
    background: url('desert.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: 200ms ease-in-out;
    opacity: 100;
}

.background-island {
    background: url('island.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: 200ms ease-in-out;
    opacity: 100;
}

html {
    font-family: sans-serif;
}

h1 {
    font-size: 1.5rem;
}


h2 {
    padding-bottom: 10px;
    font-size: 1.25rem;
}

h3 {

}

p {
    font-size: 1.0rem;
}

#mainPanel{
    display: flex;
    flex-direction: column;
    max-width: 510px;
    padding: 20px 20px 20px 20px;
    margin: 40px 0px 40px 0px;
    background-color: rgba(26, 26, 26, 0.747);
    box-shadow:  10px 10px 15px rgb(0 0 0 / 30%), rgba(0 0 0 / 25%) 0px 0px 20px 0px inset;
}

#locationDateTimeParent {
    display:flex;
    /* background: yellowgreen; */
    width: calc(50% - 40px);
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

#currentParent {
    display:flex;
    /* background: yellow; */
    width: calc(50% - 40px);
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 20px 20px 20px;
    text-align: end;
}

#forecastParent {
    display:flex;
    /* background: orange; */
    margin: 40px 0px 40px 0px;
    justify-content: center;
}

#backgroundSelectParent {
    display:flex;
    /* background: red; */
    width: minmax(70px, 70px);
    margin: 0px 20px 20px 0px;
    align-items: flex-end;
    justify-content: center;
}

#currentDateTime {
    display: flex;
    flex-wrap: wrap;
}

#currentDateTime > * {

}

#currentDateTime > h2 {
}

#date{
    color: rgba(255, 255, 255, 0.61);

}

#clock {
    color: rgba(255, 255, 255, 0.61);
}

#clockContainer{
    width: fit-content;
    padding-right: 10px;
}

#currentWeather {
}

#inputInstructions {
    margin: 25px 0px 5px 0px;
}

#currentConditions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#currentTemp{
    padding: 0px 20px 0px 20px;
}

#currentDetail{
    padding: 0px 20px 0px 20px;
}

#currentDetail p{
    padding-bottom: 10px;
}

#currentConditions > img{
    margin: 0px -5px -10px -5px;
}

#currentConditions > p {
    margin: 5px 0px 5px 0px;
}

#currentConditions > h1{
}

#tempA{
    font-size: 6rem;
    margin-bottom: -15px;
}

#tempA span{
    font-size: 1.25rem;
    vertical-align: text-top;
}

[id^='temp'] span{
    font-size: .5rem;
    vertical-align: text-top;
}

button {
    margin: 10px 0px 10px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: grey solid 1px;
    background-color: rgb(54, 54, 54);
    text-align: left;
}

select {
    margin: 10px 0px 10px 10px;
    width: 70px;
    border-radius: 3px;
    border: grey solid 1px;
    background-color: rgb(54, 54, 54);
    text-align: center;
    padding-right: 2px;
}

input {
    margin: 3px;
    padding: 7px;
    border: 4px rgb(49, 49, 49);
    box-shadow: black 3px 3px 3px;
    color: black;
}

#forecastWeather {
    display:flex;
    flex-direction: row;
    max-width: 510px;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.747);
    box-shadow:  10px 10px 15px rgb(0 0 0 / 30%), rgba(0 0 0 / 25%) 0px 0px 20px 0px inset;
}

@media screen and (max-width: 767px) {
    #forecastWeather{
        flex-direction: column;
        width: 100vw;
        max-width: none;
    }
    #mainPanel{
        width: 100vw;
        max-width: none;
    }

    [id^='divForecastDay']{
        padding: 10px 0px 10px 0px;
    }
}

#forecastWeather > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px 12px 4px 12px;
}

#form {
}

#form > input {
    width: 150px;
}

#measurement {
}